/* [[file:Notebook.org::*Workspace][Workspace:2]] */
:root {
  margin: 0;
  padding: 0;
}

:root:after: {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

section {
  display: flex;
  flex-flow: row wrap;
  gap: 1ex;
  flex: 1;
  flex-basis: 100%;
}

h2,
h3,
h4,
h5 {
  flex-basis: 100%;
}

color-defn,
color-vision,
color-contrast,
color-illuminant,
palette-token,
color-dict {
  flex: 1;
  flex-basis: 45ch;
}

color-token {
  --data-family: Roboto, sans-serif;
  --code-family: Roboto Mono, monsopace;
}
/* Workspace:2 ends here */
