:root {
  margin: 0;
  padding: 0;
}

:root:after: {
  box-sizing: border-box;
}

color-scale,
color-adjust,
color-mix,
color-harmony {
  --spacing: 1.5ex;

  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing);
}

* > color-scale {
  flex: 1;
}

color-token {
  flex: 1;
}
